.custom-btn {
  height: 48px;
  font-size: 16px;
  padding: 0 2em;
  border: none;
  font-weight: 600;
}

.custom-btn-primary {
  color: white;
  background-color: #20274D;
}

.custom-btn-secondary {
  background-color: white;
  color: #20274D;
}